.encyclopedia-main,
.encyclopedia-main * {
  box-sizing: border-box;
}
.encyclopedia-main {
  background: #f7f4ea;
  height: 1179px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #3a5a40;
  width: 100%;
  height: 91px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-9 {
  background: #3a5a40;
  width: 100%;
  height: 225px;
  position: absolute;
  left: -2px;
  top: 954px;
}
._0300-1234567 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 535px;
  top: 1083px;
  width: 164px;
  height: 27px;
}
.mail-plantophilic-id {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 535px;
  top: 1019px;
  width: 194px;
  height: 35px;
}
.logo {
  width: 190px;
  height: 190px;
  position: absolute;
  left: 209px;
  top: 945px;
  object-fit: cover;
}
.plantophilic {
  color: #9bba6f;
  text-align: left;
  font-family: "Lalezar-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 1039px;
  width: 228px;
  height: 61px;
}
.fall-flora-spring-flora-summer-flora-winter-flora {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 1035px;
  top: 1037px;
  width: 164px;
  height: 101px;
}
.quick-links {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  left: 1035px;
  top: 996px;
}
.navigation {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  left: 800px;
  top: 996px;
}
.home-about-us-contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  left: 800px;
  top: 1037px;
  width: 164px;
  height: 101px;
}
.sidebar-btn {
  width: 43px;
  height: 43px;
  position: absolute;
  left: 27px;
  top: 24px;
  overflow: hidden;
  object-fit: cover;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 43px;
  font-weight: 600;
  position: absolute;
  left: 269px;
  top: 18px;
  width: 139px;
  height: 90px;
}
.flora {
  color: #ffffff;
  text-align: left;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 43px;
  font-weight: 600;
  position: absolute;
  left: 706px;
  top: 18px;
  width: 124px;
  height: 90px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 43px;
  font-weight: 600;
  position: absolute;
  left: 879px;
  top: 18px;
  width: 258px;
  height: 90px;
}
.about-us {
  color: #ffffff;
  text-align: left;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 43px;
  font-weight: 600;
  position: absolute;
  left: 446px;
  top: 18px;
  width: 215px;
  height: 90px;
}
.plant-name {
  color: #1c341a;
  text-align: left;
  font-family: "Petrona-SemiBoldItalic", sans-serif;
  font-size: 128px;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  left: 41px;
  top: 260px;
  width: 756px;
  height: 121px;
  -webkit-text-stroke: 1px #5f91b4;
}
.goldenrod {
  width: 692px;
  height: 699px;
  position: absolute;
  left: 1460px;
  top: 260px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.plant-description-sadbjkasd-aashbjdkas-dusahdkjsadasuhik-baskjhdas-sakjdsa-uashdijlsaduashiojdas-huasdjilsaas-ahdk-jshs-akjsadhaisjk-dashuijkdsa-hudasjksadkjdashksadh-asuk-jdas-bhskdas-hdaujksadhusiajk-dhsauidjkahduajskduh-sakaja-shdsakjas-skasjdk-sadbjkasd-aashbjdkas-dusahdkjsadasuhik-baskjhdas-sakjdsa-ua {
  color: #414f44;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 22px;
  line-height: 37px;
  font-weight: 400;
  position: absolute;
  left: 41px;
  top: 439px;
  width: 655px;
  height: 179px;
}
.plant-scientific-name {
  color: rgba(28, 52, 26, 0.58);
  text-align: left;
  font-family: "Petrona-LightItalic", sans-serif;
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  left: 385px;
  top: 392px;
}
.care-level {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 689px;
}
.CareLevelImg {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 40px;
  top: 676px;
  object-fit: cover;
}
.light {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  position: absolute;
  left: 358px;
  top: 689px;
}
.LightImg {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 290px;
  top: 676px;
  object-fit: cover;
}
.water {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  position: absolute;
  left: 554px;
  top: 689px;
}
.WaterImg {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 486px;
  top: 676px;
  object-fit: cover;
}
.mail {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 483px;
  top: 1019px;
  object-fit: cover;
}
.phone {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 483px;
  top: 1079px;
  object-fit: cover;
}
.toxicity {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  position: absolute;
  left: 758px;
  top: 696px;
}
.ToxicityImg {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 690px;
  top: 683px;
  object-fit: cover;
}
.description-sadksaj-sduhjask-saduhdsakj-sadjkshd-sajnj-ksadjaksn {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 40px;
  top: 742px;
  width: 177px;
}
.description-sadksaj-sduhjask-saduhdsakj-sadjkshd-sajnj-ksadjaksn2 {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 486px;
  top: 742px;
  width: 177px;
}
.description-sadksaj-sduhjask-saduhdsakj-sadjkshd-sajnj-ksadjaksn3 {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 690px;
  top: 742px;
  width: 177px;
}
.description-sadksaj-sduhjask-saduhdsakj-sadjkshd-sajnj-ksadjaksn4 {
  color: #000000;
  text-align: left;
  font-family: "Petrona-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 290px;
  top: 742px;
  width: 177px;
}
.logo2 {
  width: 93px;
  height: 192px;
  position: absolute;
  left: 123px;
  top: -49px;
  object-fit: cover;
}
.rightArrow {
  border-radius: 50%;
  width: 71px;
  height: 71px;
  position: absolute;
  left: 663px;
  top: 835px;
  object-fit: cover;
}
.leftArrow {
  border-radius: 50%;
  width: 71px;
  height: 71px;
  position: absolute;
  left: 433px;
  top: 835px;
  object-fit: cover;
}
.copyright-2025-plantophilic-all-rights-reserved {
  color: #ffffff;
  text-align: left;
  font-family: "InstrumentSans-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 1107px;
}
.page-1-5 {
  color: #839081;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 530px;
  top: 856px;
}
.rectangle-12 {
  background: #1c341a;
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 966px;
}
.rectangle-14 {
  background: #1c341a;
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 91px;
}
.rectangle-13 {
  background: #1c341a;
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 1152px;
}

.search-btn, .sidebar-btn {
    width: 50px;  /* Fixed button size */
    height: 50px; /* Fixed button size */
    background-color: transparent;
    border: none; /* Remove border around the button if there is any */
}

.search-btn img, .sidebar-btn img {
    width: 100%;  /* Image will scale to fit button size */
    height: 100%; /* Image will scale to fit button size */
    object-fit: contain; /* Avoids distortion */
    border: none; /* Remove border around the image */
}



/* Sidebar Styles */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden offscreen */
  transition: left 0.3s ease;
  padding-top: 20px;
  z-index: 1000; /* Ensure it appears on top */
}

/* When sidebar is open */
.sidebar.open {
  left: 0; /* Sidebar visible when 'open' class is added */
}

/* Sidebar links */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #575757;
}


.navbar {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-around; /* Space out items evenly */
  background-color: #3a5a40; /* Match your theme */
  padding: 10px 20px; /* Add some padding for better spacing */
  position: fixed; /* Keep the navbar at the top */
  top: 0;
  width: 100%;
}

.navbar a, .navbar button {
  color: #ffffff;
  text-decoration: none;
  font-family: "Laila-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.navbar a:hover, .navbar button:hover {
  color: #9bba6f; /* Optional: Add a hover effect */
}